doctype html
html
  head
    title <%= themeFullName %>
    meta(name='description', content='<%= themeDescription %>')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='utf-8')

  body

    article

      section
        h1 <%= themeFullName %>
        h2 A Bespoke.js theme by <a href="https://github.com/<%= githubUser %>"><%= realName %></a>

      section
        h1.bullet Paragraph
        p.bullet In eu diam sed mi blandit pulvinar.

      section
        h1.bullet Unordered List
        ul
          li In eu diam sed mi blandit pulvinar.
          li Etiam hendrerit nunc ut tortor interdum faucibus.
          li Nulla eget nibh et enim sagittis dictum.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Emphatic Slide

      section
        h1.bullet Enjoy <span class='bullet'>:)</span>

    a(href='https://github.com/<%= githubUser %>/<%= themeFullName %>')
      img(style='position: absolute; top: 0; right: 0; border: 0; width: 25vw; max-width: 149px;', src='http://aral.github.com/fork-me-on-github-retina-ribbons/right-grey@2x.png' alt='Fork me on GitHub')

    script(src='build/build.js')
